<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sliders
      [capteursData]="capteursData"
      (customerChange)="capteurChangedHandler($event)"
    ></app-sliders>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button
      type="button"
      mat-fab
      aria-label="Réglage manuel capteur"
      (click)="sliderToggle(); drawer.toggle()"
    >
      <mat-icon *ngIf="!slide" svgIcon="wrench"></mat-icon>
      <mat-icon *ngIf="slide" svgIcon="map"></mat-icon>
    </button>
    <h1>Simulateur View 🔥</h1>
    <app-map [capteursData]="capteursData"></app-map>
    <button (click)="onActualisation()">
      <mat-icon svgIcon="fire"></mat-icon>
    </button>
  </div>
</mat-drawer-container>
