.example-container {
  width: 100%;
  height: 98vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  width: 20vw;
}

button {
  position: relative;
  top: 1vh;
  left: 2vw;
}
