<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sliders></app-sliders>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button
      type="button"
      mat-fab
      aria-label="Réglage manuel capteur"
      (click)="sliderToggle(); drawer.toggle()"
    >
      <mat-icon *ngIf="!slide" svgIcon="wrench"></mat-icon>
      <mat-icon *ngIf="slide" svgIcon="map"></mat-icon>
    </button>
    <app-map (idCapteur)="idCapteurHandler($event)"></app-map>
  </div>
</mat-drawer-container>
