.slidecontainer {
  text-align: center;
}

.slider {
  display: inline-block;
  position: relative;
  top: 11vh;
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  transform: rotate(270deg);
}

.value {
  position: relative;
  top: 22vh;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border-radius: 50%;
  background: #cf311f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border-radius: 50%;
  background: #cf311f;
  cursor: pointer;
}
